Source: keyspan-firmware
Section: non-free/kernel
Priority: extra
Maintainer: T. Joseph Carter <tjcarter@blocksfree.com>
Build-Depends: debhelper (>= 9)
Standards-Version: 3.9.6
Homepage: http://git.kernel.org/cgit/linux/kernel/git/firmware/linux-firmware.git
Vcs-Git: http://github.com/RasppleII/keyspan-firmware.git
Vcs-Browser: http://github.com/RasppleII/keyspan-firmware

Package: keyspan-firmware
Architecture: all
Depends: ${misc:Depends}
Description: Firmware for Keyspan USB-Serial devices
 keyspan-firmware contains the firmware files needed to support the Keyspan
 line of USB-serial devices which were popular with Macintosh users in the
 "new world" (post-iMac) PowerPC era.  The files come from linux-firmware,
 but are not included in Debian's linux-firmware-nonfree package.
